/monitoring/nbproject/private/
/monitoring/build/
/JavaApplication3/nbproject/private/
/loopmul/nbproject/private/
/loopmul/build/
/oddnum/nbproject/private/
/oddnum/build/
/face/nbproject/private/
/face/build/
/result/nbproject/private/
/Progress Report/nbproject/private/
/marksheet/nbproject/private/
/marksheet/build/
/swa/nbproject/private/
/array/nbproject/private/
/vc/nbproject/private/
/vc/build/
/Exam Result/nbproject/private/
/Exam Result/build/
/examresult/nbproject/private/
/examresult/build/
/vowelconsonant/nbproject/private/
/vowelconsonant/build/
/counting/nbproject/private/
/counting/build/